<h1 class="text-center">Quetions list</h1>
 <%= link_to %>
 <%= link_to "add new word", new_admin_category_word_path, class: 'btn btn-outline-success float-right mb-3'%>
<table class="table">
    <t-head>
        <tr class="text-white">
            <td>word</td>
            <td>Action</td>
        </tr>
    </t-head>
    <t-body>
        <% @words.each do |word| %>
            <tr class="text-white">
                <td><%= word.content %></td>
                <td>
                    <%= link_to  edit_admin_category_word_path(category_id: @category, id: word) do %>
                        <span class="font-size "><i class="fa fa-edit"></i></span>
                    <% end %>
                    <%= link_to  admin_category_word_path(@category, word.id),method: :delete do %>
                        <span class="font-size "><i class="fa fa-trash"></i></span>    
                    <% end %>
                </td>
            </tr>
        <% end %>
    </t-body>
</table>