<div class="row">
    <div class="col-lg-3">
      <div class="card">
            <div class="card-body text-center mt-5 mb-3">
                <% if current_user.image? %>
                    <%= image_tag @user.image.url,:size => "80x80"%>
                <% else %>
                    <img src="https://t4.ftcdn.net/jpg/02/15/84/43/240_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg" alt="default image" height="80" width="80">
                <% end %>
                <h3><%= @user.name %></h3>
                    <%= @user.email %>
                    <div class="row">
                        <div class="col">
                            <h4 class="mb-0"><%= @user.following.count %></h4>
                            <small>folloing</small>
                        </div>
                        <div class="col">
                            <h4 class="mb-0"><%= @user.followers.count %></h4>
                            <small>folloers</small>
                        </div>
                    </div>

                <div class="row">
                    <div class="col">
                        <h4 class="mb-0"><%= link_to count_learned_words(@user), user_words_path(@user) %></h4>
                        <h3>words learned</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="card">
            <div class="card-header">
                <div class="dash-head">
                    <h1 class="text-center mb-0 text-dark">Activities</h1>
                </div>
            </div>
            <div class="card-body">
                <% @activities.each do |activity| %>
                    <% if activity.action != nil%>
                        <div class="media m-4">
                            <% if activity.user.image? %>
                                <%= image_tag activity.user.image.url,:size => "80x80" %>
                            <% else %>
                                <img src="https://t4.ftcdn.net/jpg/02/15/84/43/240_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg" alt="default image" height="80" width="80">                                       
                            <% end %>
                            <div class="media-body ml-5">
                            
                                <% if activity.action_type == "Relationship"%>
                                    <% if current_user.id == activity.user_id %>
                                        <p><%= link_to "You" , user_path(current_user) %> followed <%= link_to activity.action.followed.name,user_path(activity.action.followed.id) %></p>
                                    <% else %>
                                        <p><%= link_to activity.user.name , user_path(@user) %> followed <%= link_to activity.action.followed.name,user_path(activity.action.followed.id) %></p>
                                    <% end %>
                                <% else %>
                                    <% if current_user.id == activity.user_id %>
                                        <% if duplicate_lesson(current_user).include?(activity.action) && latest_duplicate_lesson(current_user) == activity.action %>
                                            <p><%= link_to "You" ,user_path(current_user) %> learned <%= activity.action.count_correct_answer %> of <%=   activity.action.answers.count %> words in <%= link_to activity.action.category.title,user_words_path(current_user.id,title: activity.action.category.id) %> </p>
                                        <% else %>
                                            <p><%= link_to "You" ,user_path(current_user) %> learned <%= activity.action.count_correct_answer %> of <%=   activity.action.answers.count %> words in <%= link_to activity.action.category.title,user_words_path(current_user.id,previous: activity.action) %> </p>
                                        <% end %>
                                    <% else %>
                                        <% if duplicate_lesson(activity.user).inclide?(activity.action) && latest_duplicate_lesson(activity.user) == activity.action %>
                                            <p><%= link_to activity.user.name ,user_path(@user) %> learned <%= activity.action.count_correct_answer %> of <%=   activity.action.answers.count %> words in <%= link_to activity.action.category.title,user_words_path(@user.id, title: activity.action.category.id) %> </p>
                                        <% else %>
                                            <p><%= link_to activity.user.name ,user_path(@user) %> learned <%= activity.action.count_correct_answer %> of <%=   activity.action.answers.count %> words in <%= link_to activity.action.category.title,user_words_path(@user.id, previous: activity.action) %> </p>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            
                                <small class="text-muted">
                                    <%= time_ago_in_words activity.created_at %> ago
                                </small>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
            <div class="card-footer paginate">
                <%= will_paginate @activities %>
            </div>
        </div>
    </div>
</div>