<h1 class="text-center  pb-0 pt-0">Users</h1>
<div class="row text-center">
    <% if @users.size != 0 %>
        <% @users.each do |user| %>
            <div class="col-lg-6">
                <div class="media ">
                    <div class="align-self-center mr-3 border ">
                        <% if user.image? %>
                            <%= image_tag user.image.url,:size => "80x80"%>
                        <% else %>
                            <%= link_to gravatar_for(user), user_path(user) %>
                        <% end %>
                    </div>
                    <div class="media-body">
                        <h4><%= link_to user.name, user%></h4>
                    </div>
                    <% if current_user == user.id %>
                        <%= link_to "delete", user , method: :destroy,class: "btn btn-outline-danger float-right btn-sm ",
                                                                        data: {confirm: "Are you sure?" } %>
                    <% end %>
                </div>
            </div>
        <% end %>
    <% else %>
        <h1>No result matches.</h1>
    <% end %>
    <div class="paginate pt-3 text-center">
        <%= will_paginate %>    
    </div>
</div>


