<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body text-center">
                <%= gravatar_for current_user %>
                <h3><%= @user.name %></h3>
                    <%= @user.email %>
                    <div class="row">
                        <div class="col">
                            <h4><%= @user.following.count %></h4>
                            <small>folloing</small>
                        </div>
                        <div class="col">
                            <h4><%= @user.followers.count %></h4>
                            <small>folloers</small>
                        </div>
                    </div>
                    

                <% unless current_user == @user %>
                    <% if current_user.following?(@user) %>
                        <%= render "unfollow"%>
                    <% else %>
                        <%= render "follow" %>
                    <% end %>
                <% end %>

                <div class="row">
                    <div class="col">
                        <%= link_to @user.answers.count, user_words_path(@user) %> <br />
                        <h3>words learned</h3>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="col-lg-9">
        <div class="card">
                <h1>Activities</h1>
                <hr />
                <h1>Show activity</h1>
            </div>
        </div>
    </div>
</div>