<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body text-center mt-4">
                <% if @user.image? %>
                    <%= image_tag @user.image.url,:size => "80x80"%>
                <% else %>
                    <img src="https://t4.ftcdn.net/jpg/02/15/84/43/240_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg" alt="default image">
                <% end %>
                <h3><%= @user.name %></h3>
                    <%= @user.email %>
                    <div class="row">
                        <div class="col">
                            <h4><%= @user.following.count %></h4>
                            <small>folloing</small>
                        </div>
                        <div class="col">
                            <h4><%= @user.followers.count %></h4>
                            <small>folloers</small>
                        </div>
                    </div>
                    

                <% unless current_user == @user %>
                    <% if current_user.following?(@user) %>
                        <%= render "unfollow"%>
                    <% else %>
                        <%= render "follow" %>
                    <% end %>
                <% end %>

                <div class="row">
                    <div class="col">
                        <%= link_to count_learned_words(@user), user_words_path(@user) %> <br />
                        <h3>words learned</h3>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="col-lg-9">
        <div class="card">
            <div class="card-header">
                <h1>Activities</h1>
            </div>
            <div class="card-body">
                <% @activities.each do |activity| %>
                    <% if activity.action != nil%>
                        <div class="media mt-3 mb-3 ml-3">
                            <% if @user.image? %>
                                    <%= image_tag activity.user.image.url,:size => "80x80"%>
                                <% else %>
                                <img src="https://t4.ftcdn.net/jpg/02/15/84/43/240_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg" alt="default image">
                                <% end %>
                            <div class="media-body ml-5">
                                <% if activity.action_type == "Relationship" %>
                                    <p><%= link_to activity.user.name, user_path(@user) %> followed <%= link_to activity.action.followed.name,user_path(activity.action.followed.id) %></p>
                                <% else %>
                                    <p><%= link_to activity.user.name ,user_path(@user) %> learned <%= activity.action.count_correct_answer %> of <%= activity.action.answers.count %> words in <%= link_to activity.action.category.title,user_words_path(@user.id, title: activity.action.category.id) %> </p>
                                <% end %>
                                <small class="text-muted">
                                    <%= time_ago_in_words activity.created_at %> ago
                                </small>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            
            </div>
            <div class="card-footer">
                <div class="paginate border-top pt-3 ">
                    <%= will_paginate @activities %>
                </div>
            </div>
        </div>
    </div>
</div>