<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body text-center">
                <% if @user.image? %>
                    <%= image_tag @user.image.url,:size => "80x80"%>
                <% else %>
                    <%= link_to gravatar_for(@user), user_path(@user) %>
                <% end %>
                <h3><%= @user.name %></h3>
                    <%= @user.email %>
                    <div class="row">
                        <div class="col">
                            <h4><%= @user.following.count %></h4>
                            <small>folloing</small>
                        </div>
                        <div class="col">
                            <h4><%= @user.followers.count %></h4>
                            <small>folloers</small>
                        </div>
                    </div>
                    

                <% unless current_user == @user %>
                    <% if current_user.following?(@user) %>
                        <%= render "unfollow"%>
                    <% else %>
                        <%= render "follow" %>
                    <% end %>
                <% end %>

                <div class="row">
                    <div class="col">
                        <%= link_to @user.answers.count, user_words_path(@user) %> <br />
                        <h3>words learned</h3>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="col-lg-9">
        <div class="card">
            <div class="card-header">
                <h1>Activities</h1>
            </div>
            <div class="card-body">
                <% @activities.each do |activity| %>
                    <% if activity.action_type == "Relationship" %>
                        <p><%= link_to activity.user.name, user_path(@user) %> followed <%= link_to activity.action.followed.name,user_path(activity.action.followed.id) %></p>
                    <% else %>
                        <p><%= link_to activity.user.name ,user_path(@user) %> learned <%= activity.action.count_correct_answer %> of <%= activity.action.category.words.count %> words in <%= link_to activity.action.category.title,categories_path %> </p>
                    <% end %>
                    <small class="text-muted">
                        <%= time_ago_in_words activity.created_at %> ago
                    </small>
                <% end %>
            </div>
            <div class="card-footer">
                 <h3 class="text-muted">pagination</h3>
            </div>
        </div>
    </div>
</div>