<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body text-center mt-3">
                <% if @user.image? %>
                    <%= image_tag @user.image.url,:size => "80x80"%>
                <% else %>
                    <%= link_to gravatar_for(@user), user_path(@user) %>
                <% end %>
                <h3><%= @user.name %></h3>
                    <%= @user.email %>
                    <div class="row">
                        <div class="col">
                            <h4 class="mb-0"><%= @user.following.count %></h4>
                            <small>folloing</small>
                        </div>
                        <div class="col">
                            <h4 class="mb-0"><%= @user.followers.count %></h4>
                            <small>folloers</small>
                        </div>
                    </div>

                <div class="row">
                    <div class="col">
                        <h4 class="mb-0"><%= link_to @user.answers.count, user_words_path(@user)%></h4>
                        <h3>words learned</h3>
                    </div>
                </div>

            </div>
        </div>
    </div>

        <div class="col-lg-9">
            <table class="table">
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    categories
                </a>
                
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <%= link_to "all", user_words_path(current_user,title: "all")%>
                    <% @cats.each do |cat|%>
                        <%= link_to cat.title, user_words_path(current_user ,title: cat.id)%>
                    <% end %>
                </div>
            </div>
            <t-head>
                <tr class="text-white">
                    <td>Word</td>
                    <td>Correct Answer</td>
                    <td>Your Choice</td>
                    <td></td>
                </tr>
            </t-head>
            <% @answers.each do |answer| %>
                <t-body>
                    <tr class="text-white">
                        <td><%= answer.word.content %></td> 
                        <td><%=  answer.word.correct_answer.content %></td> 
                        <td><%= answer.choice.content %></td>
                        <% if answer.choice.correct == true %>
                            <td><i class="fa fa-check"></i></td>
                        <% else %>
                            <td><i class="fa fa-times"></i></td>
                        <% end %>
                    </tr>
                </t-body>
            <% end %>
            </table>
        </div>
    
</div>