<h1 class="text-center">Categories list</h1>
 <%= link_to "create new category", new_admin_category_path, class:"btn btn-success float-right mb-3"%>
<table class="table">
    <thead>
        <tr class="text-white">
            <td class="text-white">Title</td>
            <td class="text-white">Description</td>
            <td class="text-white">Action</td>
        </tr>
    </thead>
    
    <% @cats.each do |cat| %>
        <t-body>
            <tr>
                <td class="text-white"><%= link_to cat.title, admin_category_words_path(cat.id) %></td>
                <td class="text-white"><%= cat.description %></td>
                <td>
                    <%= link_to  new_admin_category_word_path(cat.id) do %>
                        <i class="fa fa-plus-square"></i>
                    <% end %>
                    <%= link_to  edit_admin_category_path(cat.id) do  %>
                        <i class="fa fa-edit"></i>
                    <% end %>
                    <%= link_to  admin_category_path(cat.id), method: :delete do %>
                        <i class="fa fa-trash"></i>                   
                    <% end %>
                </td>
            </tr>
        </t-body>
    <% end %>
</table>