<h1 class="textwhite">Categories list</h1>
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-pills">
            <% if params[:status] == "all" || @status == nil %>
                <li class="nav-item">
                    <%= link_to "All",categories_path(status: "all"), class:"nav-link active"%>
                </li>
                <li class="nav-item">
                        <%= link_to "Learned",categories_path(status: "learned"), class:"nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Not learned",categories_path(status: "unlearned"),class:"nav-link" %>
                </li>
            <% end %>
            <% if @status == "learned"%>
                <li class="nav-item ">
                    <%= link_to "All",categories_path(status: "all"),class:"nav-link" %>
                </li>
                <li class="nav-item">
                        <%= link_to "Learned",categories_path(status: "learned"),class:"nav-link active" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Not learned",categories_path(status: "unlearned"),class:"nav-link" %>
                </li>
                <%# <%= abort %> %>
            <% end %>
            <% if @status == "unlearned"%>
                <li class="nav-item ">
                    <%= link_to "All",categories_path(status: "all"),class:"nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Learned",categories_path(status: "learned"),class:"nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Not learned",categories_path(status: "unlearned"),class:"nav-link active" %>
                </li>
            <% end %>

        </ul>
    </div>
</div>
<div class="row">
    <% if @cats != nil %>
        <% unless @cats.size == 0 %>
            <% @cats.each do |cat| %>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><%= cat.title %></h5>
                            <p class="card-text"><%= cat.description %></p>
                                <% if cat.words.size == 0 %>
                                    <p>coming soon</p>
                                <% else %>
                                    <% if @complete_lessons.collect{|n| n.category_id}.flatten.include?(cat.id) %>
                                        <% if cat.words.size == @complete_lessons.select{|n| n.category_id == cat.id}.first.answers.size %>
                                            <%= link_to "Show result", user_words_path(current_user.id,title: cat.id) %>
                                        <% else %>
                                            <%= link_to "start",lessons_path(category_id: cat.id, user_id: current_user.id), method: :post %>
                                        <% end %>
                                    <% else %>
                                        <%= link_to "start",lessons_path(category_id: cat.id, user_id: current_user.id),class:"btn-outline-primary btn float-right" ,method: :post %>
                                    <% end %>
                                <% end %>  
                        </div>
                    </div>
                </div>
            <% end %>
        <% else %>
            <h1>nothing matches</h1>
        <% end %>   
    <% end %>
</div>

<% if @cats != nil%>
    <div class="paginate">
        <%= will_paginate @cats %>
    </div>
<% end %>