<h1 class="textwhite">Categories list</h1>
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-pills">
            <% if @status == "all" || @status == nil %>
                <li class="nav-item">
                    <%= link_to "All",categories_path(status: "all"), class:"nav-link active"%>
                </li>
                <li class="nav-item">
                        <%= link_to "Learned",categories_path(status: "learned"), class:"nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Not learned",categories_path(status: "unlearned"),class:"nav-link" %>
                </li>
            <% end %>
            <% if @status == "learned"%>
                <li class="nav-item ">
                    <%= link_to "All",categories_path(status: "all"),class:"nav-link" %>
                </li>
                <li class="nav-item">
                        <%= link_to "Learned",categories_path(status: "learned"),class:"nav-link active" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Not learned",categories_path(status: "unlearned"),class:"nav-link" %>
                </li>
            <% end %>
            <% if @status == "unlearned"%>
                <li class="nav-item ">
                    <%= link_to "All",categories_path(status: "all"),class:"nav-link" %>
                </li>
                <li class="nav-item">
                        <%= link_to "Learned",categories_path(status: "learned"),class:"nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Not learned",categories_path(status: "unlearned"),class:"nav-link active" %>
                </li>
            <% end %>

        </ul>
    </div>
</div>
<div class="row">
        <% unless @cats.size == 0 %>
            <% @cats.each do |cat| %>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><%= cat.title %></h5>
                            <p class="card-text"><%= cat.description %></p>
                            <%# <%abort %> %>
                                <%# <% if @lessons_category.include?(cat.id)%> 
                                <% unless Lesson.where(category_id:cat.id).where(user_id: current_user.id).first == nil %>
                                    <% if cat.words.size == Lesson.where(category_id:cat.id,user_id: current_user.id).first.answers.size %>
                                        <%= link_to "Show result", user_words_path(current_user.id) %>
                                    <% else %>
                                        <% if Lesson.find_by(category_id:cat.id,user_id: current_user.id) %>
                                            <%= link_to "start",lessons_path(category_id: cat.id, user_id: current_user.id), method: :post %>
                                        <% end %>
                                    <% end %>
                                <% else %>
                                    <%= link_to "start",lessons_path(category_id: cat.id, user_id: current_user.id), method: :post %>
                                <% end %>
                        </div>
                    </div>
                </div>
            <% end %>
        <% else %>
            <h1>nothing matches</h1>
        <% end %>   
    </div>
</div>


<div class="paginate">
    <%= will_paginate @cats %>
</div>

 


  
    
  
